@page "/listado_reservas"
@inject IAlquilerService DB

<div class="p-5 text-center bg-transparent font-weight-bolder text-uppercase">
    <h1 class="mb-3">Reservas</h1>
</div>

<div class="text-right">
    <a href="/gestion_reservas" class="btn btn-outline-success mb-4"><span class="oi oi-plus" aria-hidden="true"></span>  Agregar Reserva</a>
</div>

<div class="table-responsive-md ">
    <style>
        .liltable th {
            text-align: center;
        }

        .liltable td {
            text-align: center;
        }
    </style>
    <table class="liltable table table-hover table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Vehiculo</th>
                <th>Cliente</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@reservas" Context="reserva">
                <tr>
                    <td>@reserva.Vehiculo.Marca @reserva.Vehiculo.Modelo</td>
                    <td>@reserva.Cliente.Nombre @reserva.Cliente.Apellido</td>
                    <td>@reserva.FechaInicio</td>
                    <td>@reserva.FechaFin</td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
</div>

@code {
    List<Reserva> reservas = new();

    protected override async Task OnInitializedAsync()
    {
        reservas = await DB.GetAllReservas();
    }
}
