@page "/cobros"
@inject IAlquilerService DB


<h3>Modulos de Cobro</h3>

<div>
    <style>
        .liltable th {
            text-align: center;
        }

        .liltable td {
            text-align: center;
        }
    </style>
    <table class="liltable table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Vehiculo</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Monto Restante</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@facturas" Context="factura">
                <tr>
                    <td>@factura.Reserva.Vehiculo.Matricula - @factura.Reserva.Vehiculo.Marca @factura.Reserva.Vehiculo.Modelo @factura.Reserva.Vehiculo.Anio</td>
                    <td>@factura.Reserva.FechaInicio</td>
                    <td>@factura.Reserva.FechaFin</td>
                    <td>@((factura.MontoAPagar - factura.MontoPagado).ToString("C2"))</td>
                    <td>
                        @if (!factura.Pagada)
                        {
                            <a href="/gestion_facturas/@factura.ID" class="btn btn-primary">Pagar</a>
                        }
                    </td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
</div>


@code {
    List<Factura> facturas = new();


    protected override async Task OnInitializedAsync()
    {
        facturas = await DB.GetAllFacturas();
    }

}

